*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.main {
    height: 100vh;
    padding: 0;
}

.formHeader{
    border-bottom: 1px solid gray;
}
.formWrapper {
    margin-left: 15%;
    margin-right: 15%;
}

textarea {
    display: block;
    width: 100%;
}

.divide {
    display: grid;
    grid-template-columns: 30% 70%;
}

.formGroup {
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea, input {
    padding: 5px;
    box-sizing: border-box;
}

.divide2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
}

.divide3 {
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
}

.discount {
    margin: 0 5px;
}

.squize{
    margin-left: 50px;
    height: 30px;
    width: 30px;
}

.properties{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.propEdit{
    border: 2px solid tomato;
    padding: 5px;
}

.printProps {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*files here please*/
.fileUploads{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 2px dashed tomato;
    height: auto;
    width: 100%;
    background-color: tomato;
    padding: 20px;
}

.uploadFile{
    border: 5px solid white;
    background-color: tomato;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.imageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.formFileUpload{
    display: none;
}

.image {
    height: 300px;
    margin-bottom: 20px;
}

.loading {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: white;
}

.imgUploadWrapper{
    position: relative;
}
.actualImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.deleteImage{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    color: white;
    font-size: 1.2rem;
    background-color: tomato;
    cursor: pointer;
}

.mainSubmitForm{
    width: 100%;
    color: white;
    background-color: green;
    font-size: 1.3rem;
    border: 1px solid green;
    margin-top: 20px;
    cursor: pointer;
}

